## PYTHON SCRIP TO WEB SCRAP  BOU EXCHANGE RATES


Recently bank of Uganda only allows you to down load data for a single day by entering data using the parameters of year, month and day.

In [1]:
import pandas as pd
import ssl
dd=pd.DataFrame()
ssl._create_default_https_context = ssl._create_unverified_context
months=['Jul','Aug','Sep']
for m in months:
    for i in range(1,32):
        strday=str(i)
        ## days are written as two digits...so we append a value of 0 if less than 10
        if len(strday)!=2:
            Link = 'https://www.bou.or.ug/bou/bouwebsite/bouwebsitecontent/ExchangeRates/scripts.MajorExchangeRates/index.jsp?year=2021&month='+m+'&day='+str('0')+str(i)
        else:
            Link = 'https://www.bou.or.ug/bou/bouwebsite/bouwebsitecontent/ExchangeRates/scripts.MajorExchangeRates/index.jsp?year=2021&month='+m+'&day='+str(i)
        try:
            table_MN = pd.read_html(Link)
            dd=dd.append(table_MN[0])
                      
                                   
        except Exception as e:
            print(e)
dd

No tables found
No tables found
No tables found
No tables found
No tables found
No tables found
No tables found
No tables found
No tables found
No tables found
No tables found
No tables found
No tables found
No tables found
No tables found
No tables found
No tables found
No tables found
No tables found
No tables found
No tables found
No tables found
No tables found
No tables found
No tables found
No tables found
No tables found
No tables found

,DATE,CURRENCY,CROSS RATES,BUYING RATE (UGX),SELLING RATE(UGX)
0,7/1/2021,U.S.DOLLAR/,1,3554.74,3564.74
1,7/1/2021,POUND STERLING/U.S. DOLLAR,1.383700014,4918.693787,4932.530787
2,7/1/2021,U.S. DOLLAR/SWISS FRANC,0.9207,3860.910177,3871.771478
3,7/1/2021,U.S. DOLLAR/JAPANESE YEN,110.5,32.16959276,32.2600905
4,7/1/2021,SDR/U.S. DOLLAR,1.42642,5070.552231,5084.816431
...,...,...,...,...,...
17,9/30/2021,U.S. DOLLAR/SOUTH KOREAN WON (KRW),1187.18,2.97687798,2.985301302
18,9/30/2021,KUWAITI DINAR (KWD)/U.S. DOLLAR,3.314990387,11715.47438,11748.62428
19,9/30/2021,U.S. DOLLAR/CHINA YUAN (CNY),6.4598,547.0896932,548.6377287
20,9/30/2021,U.S. DOLLAR/EMIRATI DIRHAM (AED),3.67315,962.1414862,964.8639451
21,DATE,CURRENCY,CROSS RATES,BUYING RATE(UGX),SELLING RATE(UGX)

In [2]:
# Get names of indexes for which column DATE COLUMN HAS VALUE DATE
indexNames = dd[dd['DATE'] == 'DATE' ].index
# Delete these row indexes from dataFrame
dd.drop(indexNames , inplace=True)

In [3]:
dd

,DATE,CURRENCY,CROSS RATES,BUYING RATE (UGX),SELLING RATE(UGX)
0,7/1/2021,U.S.DOLLAR/,1,3554.74,3564.74
1,7/1/2021,POUND STERLING/U.S. DOLLAR,1.383700014,4918.693787,4932.530787
2,7/1/2021,U.S. DOLLAR/SWISS FRANC,0.9207,3860.910177,3871.771478
3,7/1/2021,U.S. DOLLAR/JAPANESE YEN,110.5,32.16959276,32.2600905
4,7/1/2021,SDR/U.S. DOLLAR,1.42642,5070.552231,5084.816431
...,...,...,...,...,...
16,9/30/2021,U.S. DOLLAR/SAUDI RIYAL (SAR),3.7511,942.1476367,944.8135214
17,9/30/2021,U.S. DOLLAR/SOUTH KOREAN WON (KRW),1187.18,2.97687798,2.985301302
18,9/30/2021,KUWAITI DINAR (KWD)/U.S. DOLLAR,3.314990387,11715.47438,11748.62428
19,9/30/2021,U.S. DOLLAR/CHINA YUAN (CNY),6.4598,547.0896932,548.6377287
20,9/30/2021,U.S. DOLLAR/EMIRATI DIRHAM (AED),3.67315,962.1414862,964.8639451

In [4]:
## convert date column to datetime
dd['DATE']=pd.to_datetime(dd['DATE'])

In [6]:
##dd.to_excel("exchange_rates.xlsx")

In [5]:
## ADD COLLUMN OF CUSTOME FORMAT MONTH
dd['Month'] = dd['DATE'].dt.strftime('%Y-%m')

In [6]:
dd['SELLING RATE(UGX)'] = pd.to_numeric(dd['SELLING RATE(UGX)'],errors = 'coerce')

In [7]:
dd['BUYING RATE (UGX)'] = pd.to_numeric(dd['BUYING RATE (UGX)'],errors = 'coerce')

In [8]:
avg_agg = dd.groupby(['Month','CURRENCY']).agg({'SELLING RATE(UGX)': ['mean', 'min', 'max']},{'BUYING RATE(UGX)': ['mean', 'min', 'max']})

In [9]:
avg_agg.head(2)

                                     SELLING RATE(UGX)               \
                                                  mean          min
Month   CURRENCY
2021-07 AUSTRALIAN DOLLAR/U.S DOLLAR       2644.763710  2604.813812
        EURO/US DOLLAR                     4207.222702  4178.405081


                                              max
Month   CURRENCY
2021-07 AUSTRALIAN DOLLAR/U.S DOLLAR  2686.317771
        EURO/US DOLLAR                4244.243362

In [10]:
avg_agg.to_excel('D:\my_file.xlsx')