In [2]:
import pandas as pd
df=pd.read_excel(r'D:\Docs\nov_24.xlsx')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25478 entries, 0 to 25477
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Supplier Number  25478 non-null  int64
 1   Supplier Name    25478 non-null  object
 2   Invoice Number   25478 non-null  object
 3   Invoice Status   25478 non-null  object
 4   Invoice Date     25478 non-null  datetime64[ns]
 5   lnvoice Amount   25206 non-null  float64
 6   Description      25476 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(4)
memory usage: 1.4+ MB

In [4]:
#remove comas from figures
#df['lnvoice Amount']=df['lnvoice Amount'].str.replace(',','')

In [5]:
df['Invoice Status'].value_counts()

Invoice Status
Validated             24765
Never Validated         355
Cancelled               340
Needs Revalidation       18
Name: count, dtype: int64

## Drop canncelled Invoices

In [7]:
cancel=df[df['Invoice Status']=='Cancelled']
df.drop(cancel.index,inplace=True)
df['Invoice Status'].value_counts()

Invoice Status
Validated             24765
Never Validated         355
Needs Revalidation       18
Name: count, dtype: int64

In [8]:
v=df[df['Invoice Status']=='Needs Revalidation']
#v.to_excel(r'D:\Docs\needs_revalidation.xlsx')
v

,Supplier Number,Supplier Name,Invoice Number,Invoice Status,Invoice Date,lnvoice Amount,Description
592,722275,ALOYSIUS KANAKULYA,RM030025110017,Needs Revalidation,2024-11-05,100000.0,Facilitation to deliver documents and fuel to ...
637,1053338,CAROLYNE NABAASA,RM030025110091,Needs Revalidation,2024-11-05,200000.0,Facilitation to deliver docs to Kampala Station
675,621478,EMMANUEL KALUYA,RM030025110018,Needs Revalidation,2024-11-05,200000.0,Facilitation to deliver documents and fuel to ...
737,592258,JOSHUA KIBIRA,RM030025110024,Needs Revalidation,2024-11-05,100000.0,Facilitation to deliver 1500 litres of fuel to...
774,803362,MERCY RUKUNDO,RM030025110015,Needs Revalidation,2024-11-05,100000.0,Facilitation to deliver documents and fuel to ...
775,803362,MERCY RUKUNDO,RM030025110022,Needs Revalidation,2024-11-05,400000.0,Ferry staff facilitation for an emergencty ins...
833,691666,RICHARD ADIBAKO DENIS,RM030025110020,Needs Revalidation,2024-11-05,200000.0,Ferry staff facilitation for an emergencty ins...
844,130650,SEKALEGGA DAVID 761298,RM030025110094,Needs Revalidation,2024-11-05,400000.0,Facilitation to drop job adverts around the mp...
847,616877,SIMON PETER EJIET,RM11002511336,Needs Revalidation,2024-11-05,165000.0,Inspectition and assessment of LBC works for t...
858,666855,TURYASIIMA ABRAHAM 1010784658,RM030025110095,Needs Revalidation,2024-11-05,800000.0,Facilitation for activities at kitala gerenge ...
861,613101,TYSON NJUKI SENYONDO,RM030025110088,Needs Revalidation,2024-11-05,200000.0,"Facilitation to deliver ferry fuel, and to car..."
2079,1154204,DEUS LUTAAYA,RM220025110514,Needs Revalidation,2024-11-07,-60000.0,Facilitation for surveying services for Kising...
2080,1154204,DEUS LUTAAYA,RM220025110514,Needs Revalidation,2024-11-07,1000000.0,Facilitation for surveying services for Kising...
19093,1066335,JULIET MUTENYO,RM090025110573.,Needs Revalidation,2024-11-14,600000.0,LBC AUGUST 2024 - Busumbu-Lwakhakha0000-5000
20489,931631,RICHARD KODET,RM11002511617,Needs Revalidation,2024-11-14,517500.0,LBC payment for September 2024 Moroto Station ...
20490,931631,RICHARD KODET,RM11002511701,Needs Revalidation,2024-11-14,535000.0,LBC payment for October 2024 Moroto Station - ...
24775,1078649,DAUDA OKECH,RM120025110466,Needs Revalidation,2024-11-18,570000.0,LBC for Aug 2024 - KIRU - MORULEM - ORETA (33 ...
24951,1078676,LINA KUNUME,RM120025110429,Needs Revalidation,2024-11-18,470000.0,LBC for Aug 2024 - KAABONG - KAPEEDO (35.5KM)

## Drop URA Invoices from the data set

In [10]:
ura=df[df['Supplier Number']==10858]
df.drop(ura.index,inplace=True)

## Drop all duplicate invoice numbers

In [12]:
#dups=df[df.duplicated(subset='Invoice Number')]
#df.drop(dups.index,inplace=True)
#df['Invoice Status'].value_counts()

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 24829 entries, 4 to 25477
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Supplier Number  24829 non-null  int64
 1   Supplier Name    24829 non-null  object
 2   Invoice Number   24829 non-null  object
 3   Invoice Status   24829 non-null  object
 4   Invoice Date     24829 non-null  datetime64[ns]
 5   lnvoice Amount   24629 non-null  float64
 6   Description      24827 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(4)
memory usage: 1.5+ MB

In [14]:
v=df['lnvoice Amount'].value_counts()
v

lnvoice Amount
200000.0      2334
600000.0      1498
400000.0      1389
100000.0      1237
300000.0       798
              ...
202000.0         1
71728900.0       1
42061400.0       1
52548140.0       1
4196610.0        1
Name: count, Length: 1637, dtype: int64

In [15]:
#from unidecode import unidecode

In [16]:
#df['lnvoice Amount']=df['lnvoice Amount'].str.replace(r"[^\x00-\x7f]","", regex=True)

In [17]:
#convert amount to numbers
df['lnvoice Amount']=df['lnvoice Amount'].astype(float)

In [18]:
df.rename(columns={'Supplier Number':'Supplier_Number','Invoice Amount':'Invoice_Amount','Invoice Number':'Invoice_Number','Supplier Name':'Supplier_Name'},inplace=True)

In [19]:
df['Station']=df['Invoice_Number'].str[2:6]
df['Station'].value_counts()

Station
2400    1917
0400    1529
1900    1351
1000    1344
2300    1296
1300    1199
0700    1187
0600    1142
0800    1114
0200    1097
1500     959
1700     943
2000     919
2200     916
1100     881
1400     802
0300     782
0500     758
1200     705
0900     683
1600     675
2100     674
0102     641
1800     626
0106     239
0108     191
0109     169
0101      57
0107      19
0103      12
2002       1
O300       1
Name: count, dtype: int64

In [20]:
Stations={'0200':'Kampala','0300':'Mpigi','0400':'Luweero','0500':'Mubende',
         '0600':'Masaka','0700':'Jinja','0800':'Mbale','0900':'Tororo',
         '1000':'Soroti','1100':'Moroto','1200':'Kotido','1300':'Fort Portal',
         '1400':'Hoima','1500':'Masindi','1600':'Kitgum','1700':'Arua',
         '1800':'Gulu','1900':'Moyo','2000':'Lira','2100':'Mbarara','2200':'Kasese','2300':'Kabale','2400':'Ibanda',
         '0102':'HQ','0R02':'HQ','36W0':'HQ','16R0':'HQ','56W0':'HQ','74W1':'HQ','6052':'HQ','0R18':'HQ',
          '/020':'Kampala','56W1':'HQ','50W0':'HQ','10R0':'HQ','/030':'Mpigi','76W0':'HQ','0106':'HQ',
          '0108':'HQ','67W0':'HQ','0R05':'HQ','78L0':'HQ','0601':'Masaka',' 020':'Kampala','M030':'Mpigi','06R0':"HQ",
          '50R0':'HQ','00R1':'HQ','0100':'HQ','13W0':'HQ','76R0':'HQ'
          
         }

In [21]:
df['Station_name']=df['Station'].map(Stations)

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 24829 entries, 4 to 25477
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Supplier_Number  24829 non-null  int64
 1   Supplier_Name    24829 non-null  object
 2   Invoice_Number   24829 non-null  object
 3   Invoice Status   24829 non-null  object
 4   Invoice Date     24829 non-null  datetime64[ns]
 5   lnvoice Amount   24629 non-null  float64
 6   Description      24827 non-null  object
 7   Station          24829 non-null  object
 8   Station_name     24570 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(6)
memory usage: 1.9+ MB

In [23]:
df.sort_values(by='Invoice Date',inplace=True)

In [24]:
x=df['Station_name'].value_counts().reset_index()

x

   Station_name  count
0        Ibanda   1917
1       Luweero   1529
2          Moyo   1351
3        Soroti   1344
4        Kabale   1296
5   Fort Portal   1199
6         Jinja   1187
7        Masaka   1142
8         Mbale   1114
9       Kampala   1097
10           HQ   1071
11      Masindi    959
12         Arua    943
13         Lira    919
14       Kasese    916
15       Moroto    881
16        Hoima    802
17        Mpigi    782
18      Mubende    758
19       Kotido    705
20       Tororo    683
21       Kitgum    675
22      Mbarara    674
23         Gulu    626

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 24829 entries, 4 to 25477
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Supplier_Number  24829 non-null  int64
 1   Supplier_Name    24829 non-null  object
 2   Invoice_Number   24829 non-null  object
 3   Invoice Status   24829 non-null  object
 4   Invoice Date     24829 non-null  datetime64[ns]
 5   lnvoice Amount   24629 non-null  float64
 6   Description      24827 non-null  object
 7   Station          24829 non-null  object
 8   Station_name     24570 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(6)
memory usage: 1.9+ MB

In [26]:
t=df[df['Supplier_Number']==174]
t.to_excel(r'D:\Docs\total_paid_by_23rd.xlsx')

In [27]:
x

   Station_name  count
0        Ibanda   1917
1       Luweero   1529
2          Moyo   1351
3        Soroti   1344
4        Kabale   1296
5   Fort Portal   1199
6         Jinja   1187
7        Masaka   1142
8         Mbale   1114
9       Kampala   1097
10           HQ   1071
11      Masindi    959
12         Arua    943
13         Lira    919
14       Kasese    916
15       Moroto    881
16        Hoima    802
17        Mpigi    782
18      Mubende    758
19       Kotido    705
20       Tororo    683
21       Kitgum    675
22      Mbarara    674
23         Gulu    626

In [28]:
x=list(x['Station_name'])
x

['Ibanda',
 'Luweero',
 'Moyo',
 'Soroti',
 'Kabale',
 'Fort Portal',
 'Jinja',
 'Masaka',
 'Mbale',
 'Kampala',
 'HQ',
 'Masindi',
 'Arua',
 'Lira',
 'Kasese',
 'Moroto',
 'Hoima',
 'Mpigi',
 'Mubende',
 'Kotido',
 'Tororo',
 'Kitgum',
 'Mbarara',
 'Gulu']

In [29]:
dfs=[]
for d in x:
    dfs.append(df[df['Station_name']==d])

In [30]:
big_paid=[]
for d in dfs:  
    z=d.sort_values(by='lnvoice Amount',ascending=False).head(80).style.format({'lnvoice Amount':"{:,.0f}"})
    big_paid.append(z)

In [31]:
##print station positions
for i, station in enumerate(x):
    print(i, station)

0 Ibanda
1 Luweero
2 Moyo
3 Soroti
4 Kabale
5 Fort Portal
6 Jinja
7 Masaka
8 Mbale
9 Kampala
10 HQ
11 Masindi
12 Arua
13 Lira
14 Kasese
15 Moroto
16 Hoima
17 Mpigi
18 Mubende
19 Kotido
20 Tororo
21 Kitgum
22 Mbarara
23 Gulu

In [76]:
big_paid[8]

In [80]:
##can export a station to excel
## Kotido
kots=big_paid[6]
export=kots.to_excel(r'D:\Docs\jinja_station.xlsx')

In [34]:
most_paid=[]
for d in dfs:
    nums=d.groupby('Supplier_Name')['Supplier_Number'].count().sort_values(ascending=False).head(20)    
    most_paid.append(nums)

In [35]:
most_paid[15]

Supplier_Name
PHILLIP MUGANGA              47
ANGUANI EDOBO COLLINS        37
WAMAANAH DAVID SITUMA        31
SENDAGIRE CHARLES 761557     31
BUSOBOZI ABUBAKAR 761496     30
GEORGE MAYANJA               26
SIMON PETER EJIET            24
MOSES OTTOBER                22
TEKO JOHN                    21
AACHA OKURUT JAMES           21
MOSES OPIO CM8703810564RG    19
JOEL NENGO                   18
OPIO ANTHONY 833234          17
LAWRENCE BUYI                16
RICHARD OLAJA                15
OKWII TEDDY 857656           13
OYOO PETERSON 822447         13
ALFRED EMIAU                 13
RAPONA APARTMENTS LIMITED    12
SILAS OMURON OSANDE          12
Name: Supplier_Number, dtype: int64

In [36]:
## Qw can export individual payments
## say dan...his payment in the whole data set
dan=df[df['Supplier_Name']=='TEDDY NALWANGA']
dan.info()

<class 'pandas.core.frame.DataFrame'>
Index: 41 entries, 5200 to 24087
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Supplier_Number  41 non-null     int64
 1   Supplier_Name    41 non-null     object
 2   Invoice_Number   41 non-null     object
 3   Invoice Status   41 non-null     object
 4   Invoice Date     41 non-null     datetime64[ns]
 5   lnvoice Amount   41 non-null     float64
 6   Description      41 non-null     object
 7   Station          41 non-null     object
 8   Station_name     41 non-null     object
dtypes: datetime64[ns](1), float64(1), int64(1), object(6)
memory usage: 3.2+ KB

In [37]:
dan
dan.sort_values(by='lnvoice Amount',inplace=True,ascending=False)

C:\Users\RKamulegeya\AppData\Local\Temp\ipykernel_7316\1077013372.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dan.sort_values(by='lnvoice Amount',inplace=True,ascending=False)

In [38]:
dan.head(10).style.format({'Invoice Amount':"{:,.0f}"})

In [39]:
#dan.to_excel(r'E:\paul.xlsx')