In [28]:
import pandas as pd

In [29]:
df=pd.read_excel(r'D:\Docs\urf_sep24.xlsx')
#sep_def=pd.read_excel(r'E:\sep29.xlsx')
#df=pd.concat([df,sep_def])

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19603 entries, 0 to 19602
Data columns (total 20 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Invoice Number           19601 non-null  object
 1   Invoice Date             19600 non-null  datetime64[ns]
 2   Description              19600 non-null  object
 3   Payment Batch            19600 non-null  object
 4   Gou Account Number       19600 non-null  float64
 5   EFT / Check Number       19600 non-null  float64
 6   Payment Date             19600 non-null  datetime64[ns]
 7   Invoice Amount           19600 non-null  float64
 8   Exchange Rate            19600 non-null  float64
 9   Base Amount              19600 non-null  float64
 10  Distribution Amount      19600 non-null  float64
 11  Budget Line Charged      19600 non-null  object
 12  Project                  0 non-null      float64
 13  Activity                 0 non-null      float64
 14  Supplier                 19600 non-null  object
 15  Supplier Number          19600 non-null  float64
 16  Supplier Account Number  19600 non-null  float64
 17  Supplier Bank            19600 non-null  object
 18  Status                   19600 non-null  object
 19  Status Date              0 non-null      float64
dtypes: datetime64[ns](2), float64(11), object(7)
memory usage: 3.0+ MB

In [31]:
df['account_code']=df['Budget Line Charged'].str[-6:]

In [32]:
df.rename(columns={'EFT / Check Number':'EFT'},inplace=True)

In [33]:
df.Status.value_counts()

Status
NEGOTIABLE    19600
Name: count, dtype: int64

In [34]:
df=df[df['Status']!="VOIDED"]

In [35]:
df.Status.value_counts()

Status
NEGOTIABLE    19600
Name: count, dtype: int64

In [36]:
df.shape

(19603, 21)

In [37]:
## extract Efts and suppliers for ease of comparison with the bank statement
efts_only=df.groupby(['Supplier','EFT'])['Distribution Amount'].sum().reset_index()
efts_only.to_excel(r'D:\Docs\efts_chk_sept_24.xlsx',index=False)

In [38]:
## i get Wht payments onto a seperate dataframe
df_wht=df[df["account_code"]=="491002"]

In [39]:
df_wht

,Invoice Number,Invoice Date,Description,Payment Batch,Gou Account Number,EFT,Payment Date,Invoice Amount,Exchange Rate,Base Amount,...,Budget Line Charged,Project,Activity,Supplier,Supplier Number,Supplier Account Number,Supplier Bank,Status,Status Date,account_code
1304,Withholding Tax - 17636157-2-Cancelled,2024-09-18,Withholding Tax - HUSSEIN OYAA - RM19002509698 /,UNRA RF 20-SEP-2024.INT,3.130088e+12,14459165.0,2024-09-20,-62040.0,1.0,-62040.0,...,03-000-000000-1135000000-0000-000000-0000-00-4...,NaN,NaN,UGANDA REVENUE AUTHORITY COLLECTIONS,10858.0,3.410158e+12,BANK OF UGANDA,NEGOTIABLE,NaN,491002
1305,RM17002509675,2024-09-23,Payment for meals and refreshments. FDN1243278...,UNRA RF 24-SEP-2024.PAY,3.130088e+12,14525983.0,2024-09-24,3148200.0,1.0,3148200.0,...,03-000-000000-1135000000-0000-000000-0000-00-4...,NaN,NaN,HERITAGE COURTS LIMITED,48811.0,1.043500e+12,DFCU BANK LIMITED,NEGOTIABLE,NaN,491002
1306,Withholding Tax - 17745358 - 3,2024-09-20,Withholding Tax - JAMBO LEO AUTO ENGINEERING L...,UNRA RF 24-SEP-2024.INT,3.130088e+12,14523525.0,2024-09-24,252000.0,1.0,252000.0,...,03-000-000000-1135000000-0000-000000-0000-00-4...,NaN,NaN,UGANDA REVENUE AUTHORITY COLLECTIONS,10858.0,3.410158e+12,BANK OF UGANDA,NEGOTIABLE,NaN,491002
1307,RM090025090611,2024-09-24,Payment for FDN 124631926444 for supply of mec...,UNRA RF 25-SEP-2024.PAY,3.130088e+12,14610556.0,2024-09-25,1615440.0,1.0,1615440.0,...,03-000-000000-1135000000-0000-000000-0000-00-4...,NaN,NaN,ROCKY SOLUTIONS ENTERPRISES LIMITED,1065710.0,9.030002e+12,STANBIC BANK UGANDA LIMITED,NEGOTIABLE,NaN,491002
1308,RM080002509822,2024-09-24,Being payment for supply and delivery of 8m3 o...,UNRA RF 25-SEP-2024.PAY,3.130088e+12,14611741.0,2024-09-25,977600.0,1.0,977600.0,...,03-000-000000-1135000000-0000-000000-0000-00-4...,NaN,NaN,OLIVER KITUYI,1091683.0,3.203923e+09,CENTENARY RURAL DEVELOPMENT BANK LIMITED,NEGOTIABLE,NaN,491002
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19595,RM060025090471,2024-09-19,Supply of service parts for UAR 996Y 124494858856,UNRA RF 26-SEP-2024.PAY,3.130088e+12,14679625.0,2024-09-26,2628800.0,1.0,2628800.0,...,03-000-000000-1135000000-0000-000000-0000-00-4...,NaN,NaN,KALUNA INVESTMENTS LIMITED,1065718.0,6.002150e+09,ABSA BANK UGANDA LIMITED,NEGOTIABLE,NaN,491002
19596,RM060025090472,2024-09-19,Supply of service and spare parts for UAZ 153X...,UNRA RF 26-SEP-2024.PAY,3.130088e+12,14679625.0,2024-09-26,4324800.0,1.0,4324800.0,...,03-000-000000-1135000000-0000-000000-0000-00-4...,NaN,NaN,KALUNA INVESTMENTS LIMITED,1065718.0,6.002150e+09,ABSA BANK UGANDA LIMITED,NEGOTIABLE,NaN,491002
19597,RM050025090114,2024-09-19,Being payment to Samuel Kayonde Israel for sup...,UNRA RF 26-SEP-2024.PAY,3.130088e+12,14679248.0,2024-09-26,4211200.0,1.0,4211200.0,...,03-000-000000-1135000000-0000-000000-0000-00-4...,NaN,NaN,SAMUEL KAYONDE ISREAL,937801.0,1.030053e+12,POSTBANK UGANDA LIMITED,NEGOTIABLE,NaN,491002
19598,RM040025090007,2024-09-17,Payment for supply of clutch pack for MV Kyoga...,UNRA RF 27-SEP-2024.PAY,3.130088e+12,14749820.0,2024-09-27,4346000.0,1.0,4346000.0,...,03-000-000000-1135000000-0000-000000-0000-00-4...,NaN,NaN,DYNA TRADE COLTD,917819.0,2.171310e+09,BANK OF AFRICA UGANDA LIMITED,NEGOTIABLE,NaN,491002
19599,RM040025090007,2024-09-17,Payment for supply of clutch pack for MV Kyoga...,UNRA RF 27-SEP-2024.PAY,3.130088e+12,14749820.0,2024-09-27,4346000.0,1.0,4346000.0,...,03-000-000000-1135000000-0000-000000-0000-00-4...,NaN,NaN,DYNA TRADE COLTD,917819.0,2.171310e+09,BANK OF AFRICA UGANDA LIMITED,NEGOTIABLE,NaN,491002

In [40]:
##use a function to get Voucher number from WHT
import re
def get_inv_num(string):
    try:
        pattern = re.findall(r'RM\d+',string)
        return ",".join(pattern)
    except:
        return 'err'

In [41]:
df_wht['original_inv_num']=df_wht['Description'].apply(get_inv_num)

C:\Users\RKamulegeya\AppData\Local\Temp\ipykernel_16076\1182655821.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_wht['original_inv_num']=df_wht['Description'].apply(get_inv_num)

In [42]:
df_wht.info()

<class 'pandas.core.frame.DataFrame'>
Index: 690 entries, 1304 to 19599
Data columns (total 22 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Invoice Number           690 non-null    object
 1   Invoice Date             690 non-null    datetime64[ns]
 2   Description              690 non-null    object
 3   Payment Batch            690 non-null    object
 4   Gou Account Number       690 non-null    float64
 5   EFT                      690 non-null    float64
 6   Payment Date             690 non-null    datetime64[ns]
 7   Invoice Amount           690 non-null    float64
 8   Exchange Rate            690 non-null    float64
 9   Base Amount              690 non-null    float64
 10  Distribution Amount      690 non-null    float64
 11  Budget Line Charged      690 non-null    object
 12  Project                  0 non-null      float64
 13  Activity                 0 non-null      float64
 14  Supplier                 690 non-null    object
 15  Supplier Number          690 non-null    float64
 16  Supplier Account Number  690 non-null    float64
 17  Supplier Bank            690 non-null    object
 18  Status                   690 non-null    object
 19  Status Date              0 non-null      float64
 20  account_code             690 non-null    object
 21  original_inv_num         690 non-null    object
dtypes: datetime64[ns](2), float64(11), object(9)
memory usage: 124.0+ KB

In [43]:
df_neg_wht=df_wht[df_wht['Distribution Amount']<=0]
df_wht.drop(df_neg_wht.index,inplace=True)

C:\Users\RKamulegeya\AppData\Local\Temp\ipykernel_16076\504595174.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_wht.drop(df_neg_wht.index,inplace=True)

In [44]:
df.drop(df_wht.index,inplace=True)

In [45]:
##check payments
df_1=df.groupby(['Supplier','Invoice Number','EFT','Budget Line Charged'])['Distribution Amount'].sum().reset_index().sort_values('Distribution Amount',ascending=False)

In [46]:
df_1

,Supplier,Invoice Number,EFT,Budget Line Charged,Distribution Amount
17967,UAP OLDMUTUAL INSURANCE UGANDA LIMITED,RM0109250900001,14394978.0,03-002-090400-1130201000-0000-000014-0000-02-2...,1.465180e+09
10377,LUTS ENGINEERING CO LIMITED,RM0106250900267,14431891.0,03-002-090400-1130201000-0000-260006-0000-02-2...,3.799985e+08
3376,CITY OIL,RM0106250900231,14432992.0,03-002-090400-1130201000-0000-260006-0000-02-2...,3.599011e+08
18322,VICTORIA EQUIPMENT LTD,RM0106250900232,14433459.0,03-002-090400-1130201000-0000-260006-0000-02-2...,2.467850e+08
8878,JUBILEE HEALTH INSURANCE COMPANY OF UGANDA LIM...,RM0109250900004,14394982.0,03-002-090400-1130201000-0000-000014-0000-02-2...,1.800000e+08
...,...,...,...,...,...
1847,AUTOMIX INVESTMENTS LTD,RM0106250900243,14433179.0,03-000-000000-1135000000-0000-000000-0000-00-4...,-4.274160e+06
5302,FARMERS HARVEST (U) LIMITED,RM17002509535,14442387.0,03-000-000000-1135000000-0000-000000-0000-00-4...,-4.985232e+06
9419,KATRE ENTERPRISES LTD,RM070025090251,14422194.0,03-000-000000-1135000000-0000-000000-0000-00-4...,-8.728440e+06
3199,CHAROMAH UGANDA LIMITED,RM0108250900326,14498898.0,03-000-000000-1135000000-0000-000000-0000-00-4...,-1.224244e+07
10375,LUTS ENGINEERING CO LIMITED,RM0106250900267,14431891.0,03-000-000000-1135000000-0000-000000-0000-00-4...,-3.864391e+07

In [47]:
df_2=df_wht.groupby(['Supplier','Invoice Number','EFT','Budget Line Charged'])['Distribution Amount'].sum().reset_index().sort_values('Distribution Amount',ascending=False)

In [48]:
df_2

,Supplier,Invoice Number,EFT,Budget Line Charged,Distribution Amount
54,UGANDA REVENUE AUTHORITY COLLECTIONS,Withholding Tax - 17569585 - 4,14425051.0,03-000-000000-1135000000-0000-000000-0000-00-4...,19321957.0
53,UGANDA REVENUE AUTHORITY COLLECTIONS,Withholding Tax - 17569585 - 3,14425051.0,03-000-000000-1135000000-0000-000000-0000-00-4...,19321957.0
100,UGANDA REVENUE AUTHORITY COLLECTIONS,Withholding Tax - 17685024 - 3,14547947.0,03-000-000000-1135000000-0000-000000-0000-00-4...,6121220.0
101,UGANDA REVENUE AUTHORITY COLLECTIONS,Withholding Tax - 17685024 - 4,14547947.0,03-000-000000-1135000000-0000-000000-0000-00-4...,6121220.0
3,UGANDA REVENUE AUTHORITY COLLECTIONS,Withholding Tax - 17548556 - 4,14400975.0,03-000-000000-1135000000-0000-000000-0000-00-4...,4364220.0
...,...,...,...,...,...
38,UGANDA REVENUE AUTHORITY COLLECTIONS,Withholding Tax - 17559495 - 3,14425051.0,03-000-000000-1135000000-0000-000000-0000-00-4...,11384.0
159,UGANDA REVENUE AUTHORITY COLLECTIONS,Withholding Tax - 17844048 - 3,14547947.0,03-000-000000-1135000000-0000-000000-0000-00-4...,9900.0
82,UGANDA REVENUE AUTHORITY COLLECTIONS,Withholding Tax - 17591489 - 3,14433764.0,03-000-000000-1135000000-0000-000000-0000-00-4...,6480.0
197,UGANDA REVENUE AUTHORITY COLLECTIONS,Withholding Tax - 17910405 - 2,14797237.0,03-000-000000-1135000000-0000-000000-0000-00-4...,6000.0
102,UGANDA REVENUE AUTHORITY COLLECTIONS,Withholding Tax - 17691468 - 3,14547947.0,03-000-000000-1135000000-0000-000000-0000-00-4...,6000.0

In [49]:
t=df_1['Distribution Amount'].sum()

In [50]:
t

15363092566.0

In [51]:
t1=df_2['Distribution Amount'].sum()

In [52]:
t1

141277646.0

In [53]:
df_f=pd.concat([df_1,df_2])
df_f.to_excel(r'D:\Docs\urf_paid_sep_24.xlsx')